@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* Variables de couleurs */
:root {
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Stone-100);
    display: flex;
    justify-content: center;
}

h2{
    font-family: 'Young serif', sans-serif;
    color: var(--Brown-800);
    margin-bottom: 20px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 20px;
    font-family: 'Outfit', sans-serif;
}

ul li,ol li{
    padding-left: 18px;
}

hr{
    margin: 10px 0;
    opacity: 0.1;
}

.main-content{
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    max-width: 700px;
    border-radius: 24px;
    margin: 100px auto; 
    padding: 30px;
    gap: 30px;
    color: var(--Stone-600);
}

.introduction{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.introduction img{
    height: auto;
    border-radius: 12px;
}

.introduction h1{
    font-family: 'Young Serif', sans-serif;
    color: var(--Stone-900);
}

p{
    font-family: 'Outfit', sans-serif;
}

.preparation{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px 30px;
    background-color: var(--Rose-50);
    gap: 15px;
    font-family: 'Outfit', sans-serif;
    border-radius: 12px;
}

.preparation h3{
    color: var(--Rose-800);
}


.preparation ul li::marker{
    color: var(--Rose-800);
}



.ingredients ul li::marker{
    color: var(--Brown-800);
}

.instructions ol{
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    gap: 15px;
    padding-left: 20px;
}

.instructions ol li::marker{
    color: var(--Brown-800);
    font-weight: bold;
}


.nutrition{
    display: flex;
    flex-direction: column;
}

.tableau p{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
}

.tableau p b{
    text-align: right;  /* force l’alignement à droite */
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width:400px){

}